@model Comic
@{
    List<Comic> comics = ViewData["COMICS"] as List<Comic>;
}
<a asp-controller="Comics" asp-action="Index">
    Volver
</a>

<h1>Selecciona un comic</h1>
<form method="post">
    <select class="form-select" name="idcomic">
        @foreach (Comic com in comics)
        {
            <option value="@com.IdComic">@com.Nombre</option>
        }
    </select>
    <button class="btn btn-outline-dark">Enviar</button>
</form>


@if(Model != null)
{
    <ul class="list-group">
        <li class="list-group-item">
            IdComic: @Model.IdComic
        </li>
        <li class="list-group-item">
            Nombre: @Model.Nombre
        </li>
        <li class="list-group-item">
            Imagen: <br />
            <img src="@Model.Imagen" style="width:150px;height:150px"/>
        </li>
        <li class="list-group-item">
            Descripcion: @Model.Descripcion
        </li>
    </ul>
}

